.hometext{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userdetail{
    width: 300px;
    height: 180px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.userdetail span{
    font-weight: bold;
    margin-right: 10px;
}